    style
    body {
        background-color: rgb(250, 154, 76)
    }

    .formstyle {
        background-color: rgb(253, 244, 244);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        max-width: 70%;

        margin: auto;
        padding: 2dvh;
    }

    #idstyle {
        color: aqua;
    }

    .submitbuttonstyle {
        background:rgb(13, 15, 13);
        color:white;
        width: 100%;
        height: 200px;
        padding: 10px;
        font-size: 50px;
        font-family:'Times New Roman', Times, serif;
    }
        table {
            border-collapse: collapse;
            width: 100%;
        }

        tr,
        th,
        td {
            padding:20px;
            border:1px solid black;
            font-size: 40px;
        }